# customize the data below according to your setup
EMAIL="YOUR@EMAIL.IS.NEEDED.HERE" # change this to be your E-MAIL

IP4="0.0.0.0" # add the external IPv4 address of your cluster
IP6="0000::0000" # add the external IPv6 address of your cluster (optional)

CLUSTER_DOMAIN="${IP4}.sslip.io"

# this URL should always be a MAINNET non rate-limited RPC (even when using devnet)
TASK_RUNNER_SOLANA_RPC="https://api.mainnet-beta.solana.com"
##########
### !!! - DO NOT CHANGE ANYTHING BELOW THIS POINT - !!!
##########

DOCKER_IMAGE="docker.io/switchboardlabs/pull-oracle:dev-RC_06_12_24_09_20"
