# IPv4 -> use - instead of . -> 0.0.0.0 is 0-0-0-0.sslip.io
# IPv6 -> use - instead of : --> AAAA:BBBB:CCCC:0000 is AAAA-BBBB-CCCC--0000
__IPv4_IP__.sslip.io,
__IPv6_IP__.sslip.io,
:80,
:443 {
  encode zstd gzip

  reverse_proxy /oracle/* oracle:8081
  reverse_proxy /guardian/* oracle:8082
  reverse_proxy /gateway/* oracle:8083

  header {
    X-Content-Type-Options nosniff
    Referrer-Policy  strict-origin-when-cross-origin
    Strict-Transport-Security "max-age=63072000; includeSubDomains;"
    Permissions-Policy "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=(), interest-cohort=()"
    X-Frame-Options SAMEORIGIN
    X-XSS-Protection 1
    X-Robots-Tag none
    -server
  }
}
