*.deb binary
.static/ filter=lfs diff=lfs merge=lfs -text
.static/sb-sail-initrd filter=lfs diff=lfs merge=lfs -text
.static/sb-sail-kernel filter=lfs diff=lfs merge=lfs -text
.static/snphost filter=lfs diff=lfs merge=lfs -text
.static/linux-image-unsigned-6.14.6-061406-generic_6.14.6-061406.202505090840_amd64.deb filter=lfs diff=lfs merge=lfs -text
.static/linux-modules-6.14.6-061406-generic_6.14.6-061406.202505090840_amd64.deb filter=lfs diff=lfs merge=lfs -text
.static/linux-headers-6.14.6-061406-generic_6.14.6-061406.202505090840_amd64.deb filter=lfs diff=lfs merge=lfs -text
.static/linux-headers-6.14.6-061406_6.14.6-061406.202505090840_all.deb filter=lfs diff=lfs merge=lfs -text
*.deb filter=lfs diff=lfs merge=lfs -text
