##########
### !!! - DO NOT CHANGE ANYTHING IN THIS FILE - !!!
##########

include:
  - ../common/networks.yml
  - ../common/webserver.yml

secrets:
  mainnet_payer_secret:
    file: ../../../data/mainnet_payer.json

services:
  # BEGIN ORACLE
  mainnet-oracle:
    extends:
      file: ../common/oracle.yml
      service: oracle
    volumes:
      - ../../../data/mainnet_protected_files/:/data/protected_files/
    networks:
      - mainnet
    environment:
      PAYER_SECRET_FILEPATH: /run/secrets/mainnet_payer_secret
    secrets:
      - mainnet_payer_secret
    env_file:
      - ../../../cfg/00-mainnet-vars.cfg
      - ./mainnet.env
  # END ORACLE

  # BEGIN GUARDIAN
  mainnet-guardian:
    extends:
      file: ../common/guardian.yml
      service: guardian
    volumes:
      - ../../../data/mainnet_protected_files/:/data/protected_files/
    networks:
      - mainnet
    environment:
      PAYER_SECRET_FILEPATH: /run/secrets/mainnet_payer_secret
    secrets:
      - mainnet_payer_secret
    env_file:
      - ../../../cfg/00-mainnet-vars.cfg
      - ../common/mainnet.env
  # END GUARDIAN

  # BEGIN GATEWAY
  mainnet-gateway:
    extends:
      file: ../common/gateway.yml
      service: gateway
    volumes:
      - ../../../data/mainnet_protected_files/:/data/protected_files/
    networks:
      - mainnet
    environment:
      PAYER_SECRET_FILEPATH: /run/secrets/mainnet_payer_secret
    secrets:
      - mainnet_payer_secret
    env_file:
      - ../../../cfg/00-mainnet-vars.cfg
      - ../common/mainnet.env
  # END GATEWAY

  # BEGIN VMAGENT
  mainnet-vmagent:
    extends:
      file: ../common/vmagent.yml
      service: vmagent
    networks:
      - mainnet
    volumes:
      - ../../../data/vmagent-data:/vmagentdata
      - ../common/mainnet-cfg-vmagent.yml:/etc/prometheus/cfg-vmagent.yml:ro
    env_file:
      - ../../../cfg/00-mainnet-vars.cfg
  # END VMAGENT
